/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    property: value;
}

.class {
    property: value;
}

#photo-resize {
    max-width: 250px;
    max-height:300px;
}
