/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    style="background-color:#c4c4c4";
    
     
}

.table-border {
   border: 1px outset #000000;
}

#photo-resize {
    max-width: 200px;
    max-height:250px;
    border: 2px outset #44aa22;
}
